.modal{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80vh;
  background-color: rgba(11, 155, 23, 0.75);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modal.is-open {
  display: flex;
}
.modal-container {
position: fixed;
padding: 1rem;
width: 70%;
max-height: 80vh;
overflow-y: auto;
background-color: rgb(112, 241, 241);
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;

}
@media only screen and (max-width: 600px) {
  .modal-container {
    max-width: 80%;
    margin: 0 auto;
    
  }
}