.inicio-contai {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(50, 192, 31);
  text-shadow: 1px 1px #094e0f, 2px 2px #088b13, 3px 3px #ffa07a;
  text-align: center;
  min-height: 100vh;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  position: relative;
}

.inicio-contai:hover {
  background-color: rgba(0, 0, 0, 0.301);
}

.bienvenida {
  font-size: 48px;
  max-width: 80%;
  margin-bottom: 20px;
  text-shadow: 1px 1px #aa3507, 2px 2px #ffa07a, 3px 3px #ffa07a;
  color: rgb(243, 132, 5);
  transition: color 0.3s ease-in-out;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bienvenida:hover {
  color: #ffa07a;
}

.introduccion {
  font-size: 24px;
  max-width: 80%;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.frase-atraer {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 1px 1px #aa3507, 2px 2px #ffa07a, 3px 3px #ffa07a;
  transition: color 0.3s ease-in-out;
  color: rgb(243, 132, 5);
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 600px) {
  .bienvenida {
  font-size: 24px;
  }
  .introduccion {
    font-size: 24px;
    }
  .frase-atraer {
    font-size: 24px;
  }
  }
  

.frase-atraer:hover {
  color: #ffa07a;
}

.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 0.2;
}

.logo {
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
  left: 0;
  z-index: -2;
  transition: opacity 0.3s ease-in-out;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  max-width: 100%;
}

.logo:hover {
  opacity: 0.2;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  z-index: -1;
}

.background-overlay:hover {
  background-color: rgba(0, 0, 0, 0.925);
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.inicio-container:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  z-index: -1;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 300px;
  filter: brightness(90%);
  border: 3px solid #ccc;
  border-radius: 5px;
  animation: move 2s infinite;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 200px;
  filter: brightness(90%);
  border: 3px solid #ccc;
  border-radius: 5px;
  animation: move 2s infinite;
}

.bottom-left {
  position: center;
  bottom: 10px;
  left: 10px;
  max-width: 250px;
  filter: grayscale(50%) brightness(80%);
  border: 3px solid #ccc;
  border-radius: 5px;
  animation: move 2s infinite;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
